.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-container{
  min-height: 100vh;
  background-color: #f4f6f9;
  font-family: Arial, Helvetica, sans-serif;
}

.content{
  padding:20px;
  max-width: 1100px;
  margin:auto;
}
.card{
  background :#ffffff;
  padding :20px;
  margin-bottom: 16px;
  border-radius:8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h1,h2,h3{
  color:#2c3e50;
}
button{
  padding: 8px 14 px;
  background-color: #3498db;
  color:white;
  border:none;
  border-radius:4px;
  cursor: pointer;
}
button:hover {
  background-color: #2980b9
}
ul{
  list-style:none;
  padding:0;
}
li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.navbar{
  background-color: #2c3e50;
  padding: 14px 20px;
}
.navbar a{
  color:white;
  margin-right:16px;
  font-weight: bold;
}
.navbar a:hover{
  color:#73a709;
}
.patient-ul{
  margin-top:15px;
}
.patient-item{
  display:flex;
  justify-content:space-between;
  padding: 14px 16px;
  margin-bottom:10px;
  background-color: #f9fbfd;
  border-radius:6px;
}
.patient-name{
  font-weight:600;
  font-size:16px;
  /*  */
}
.patient-age{
  font-size:14px;
  color:#7f8c8d;
}
.view-btn{
  padding:6px 12px;
  background-color: #27ae60;
  color:white;
  border-radius: 4px;
  font-size:14px;
}
.view-btn:hover{
  background-color: #219150;
}
.empty-text{
  color:#ffffff;
  font-style:italic;
}
.separator{
  margin: 0 8px;
  color: #aaa
}
.patient-name{
  color:white
}
.room-card{
  background: #ffffff;
  padding: 25px 30px;
  width:350px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.patient-name{
  text-align: center;
  margin-bottom: 20px;
  color:#ffffff;
}
.room-label{
  display:flex;
  margin-bottom:6px;
  font-weight:500;
  color:#555;
}
.room-select{
  width:100%;
  padding: 10px;
  margin-bottom:20px;
  border-radius:6px;
  border: 1px solid #2980b9;
  font-size:14px;
}
.room-select:focus{
  outline:none;
  border-color:#3498db;
}
.room-btn{
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  border:none;
  color:white;
  font-size:15px;
  border-radius:6px;
  cursor:pointer;
  transition: background 0.3s ease;
}
.room-btn:hover{
  background-color:#2980b9;
}
.details-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px;
}
.details-title{
  margin-bottom:20px;
  color:#2c3e50;
}
.details-card{
  background: #fff;
  width:380px;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.patient-detail-name{
  text-align:center;
  margin-bottom: 20px;
  color:#34495e;
}
.details-card p{
  margin:10px 0;
  font-size:15px;
  color:#555
}
.btn-group{
  display:flex;
  gap:10px;
  margin-top:25px;
}
.primary-btn{
  flex:1;
  padding:10px;
  background-color: #3498db;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:14px;
}
.primary-btn:hover{
  background:#2980b9;
}
.secondary-btn{
  flex:1;
  padding:10px;
  background-color: #ecf0f1;
  color:#333;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:14px;
}
.secondary-btn:hover{
  background:#dcdde1;
}
.add-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:40px;
}
.add-title{
  margin-bottom:20px;
  color:#2c3e50;
}
.add-card{
  background: white;
  padding: 25px;
  width:350px;
  border-radius:8px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1)
}
.add-input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:5px;
  border:1px solid #ccc;
}
.add-input:focus{
  outline:none;
  border-color:#3498db;
}
.add-btn{
  width:100%;
  padding:10px;
  background: #3498db;
  color:white;
  border:none;
  border-radius:5px;
  font-size:15px;
  cursor:pointer;
}
.add-btn:hover{
  background:#2980b9;
}